
/*
 * @description: 功能選單基本樣式宣告
 * @author: shown
 * @update: shown (2013-05-10 16:00)
 */
#toggle {
	position: relative;
	background-color: #f0f0f0;
	text-align: center;
	color: gray;
	font-weight: bold;
	margin: -10px;
	width: 25px;
	min-height: 720px;
	float: right;
	cursor: pointer;
	outline: 0;		
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-top-right-radius:6px;
	-moz-border-bottom-right-radius:6px;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#toggle div.arrow {
	height:30px;
	width:10px;
	background: url(../img/icon.png);
	background-repeat: no-repeat;
	background-size: 30px auto;
	background-position: 0px -1020px;
}
#toggle div {
	position: absolute;
	top: 48%;
	left: 5px;
	color: #888888;
}
#toggle:hover {
	background-color: #e0e0e0;
	outline: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#menu {
	background-color: #fbfbfb;
	overflow: hidden;
}
#menu ul {
	margin-left: -10px;
}

#menu ul li {
	line-height: 30px;
	overflow: hidden;
	font-family: "微軟正黑體";
	padding: 5px 0 5px 3px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	/*margin-bottom: 1px;*/
}
#menu ul li:hover {
	margin-bottom: 0;
	/*background-color: #f9f9f9;*/
	/*border-bottom: 1px solid #e0e0e0;*/
}
#menu ul li a {
	display: block;
	white-space: nowrap;
	font-size: larger;
	color: #a0a0a0;
}
#menu ul li a:hover {
	color: #888888;
	text-decoration: none;
}
#menu ul li a span {
	margin: 0 15px 0 0;
	display: block;
}

.icon {
	padding: 2px 1px 2px 34px;
	height: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(../img/icon.png);
	background-repeat: no-repeat;
	background-size: 29px auto;
	border: 1px solid #f9f9f9;
	
	
}
.icon:hover {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: #e0e0e0 0px 0px 5px 0px inset;
	-moz-box-shadow: #e0e0e0 0px 0px 5px 0px inset;
	box-shadow: #e0e0e0 0px 0px 5px 0px inset;
	color:#0e6eb8;
	
}
.icon:active {
	border-color: #d0d0d0;
	background-color: #E0E0E0;
}
.icon-member {
	background-position: 3px -403px;
}
.icon-member:hover {
	background-position: 3px -439px;
}
.icon-news {
	background-position: 3px -475px;
}
.icon-news:hover {
	background-position: 3px -509px;
}
.icon-exam {
	background-position: 3px -543px;
}
.icon-exam:hover {
	background-position: 3px -575px;
}
.icon-examManage {
	background-position: 3px -608px;
}
.icon-examManage:hover {
	background-position: 3px -642px;
}
.icon-map {
	background-position: 3px -675px;
}
.icon-map:hover {
	background-position: 3px -704px;
}
.icon-result {
	background-position: 3px -800px;
}
.icon-result:hover {
	background-position: 3px -830px;
}
.icon-practice {
	background-position: 3px -863px;
}
.icon-practice:hover {
	background-position: 3px -893px;
}
.icon-node {
	background-position: 3px -735px;
}
.icon-node:hover {
	background-position: 3px -768px;
}
.icon-create {
	background-position: 3px -133px;
}
.icon-create:hover {
	background-position: 3px -167px;
}
.icon-read {
	background-position: 3px -200px;
}
.icon-read:hover {
	background-position: 3px -232px;
}
.icon-edit {
	background-position: 3px -265px;
}
.icon-edit:hover {
	background-position: 3px -297px;
}
.icon-manage {
	background-position: 3px -332px;
}
.icon-manage:hover {
	background-position: 3px -367px;
}
.icon-back {
	background-position: 3px -68px;
}
.icon-back:hover {
	background-position: 3px -100px;
}
.icon-logout {
	background-position: 3px -1px;
}
.icon-logout:hover {
	background-position: 3px -35px;
}

