/*
 * @description: 功能選單基本樣式宣告
 * @author: shown
 * @update: shown (2013-05-06 16:00)
 */
#toggle
{	
	background-color: #f0f0f0;
	text-align:center;	
	color:gray;
	font-weight:bold;
	margin:-10px;	
	width:25px;	
	min-height:720px;
	float:right;	
	cursor:pointer;	
	outline: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#toggle:hover
{
	background-color: #e0e0e0;
	outline: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#menu ul 
{
	margin-left:-10px;
	
}

#menu ul li
{
	
	line-height:30px;
	font-family:"微軟正黑體";
	padding:5px 0 5px 13px;
	display:block;
	white-space:nowrap;
	cursor:pointer;
	margin-bottom:1px;
		
}
#menu ul li:hover
{
	margin-bottom:0;
	background-color: #f9f9f9;
	border-bottom:1px solid #e0e0e0;
}
#menu ul li a 
{
	display:block;
	white-space: nowrap;	
	font-size:larger;
	color:#a0a0a0;
}
#menu ul li a:hover
{
	color:#888888;
	text-decoration: none;

}
#menu ul li a span
{
	margin-left:10px;
}