/*
 * @description: 建立會員帳號
 * @author: shown (2013-06-27 16:40)
 * @update: shown
 */

.inputNewText
{
	cursor: pointer;
}
.inputNewText:hover
{
	color:#c0c0c0;	
}
ul#unitChoose
{
	margin:0;
}
ul#unitChoose li
{
	font-family: "微軟正黑體";
	font-size:14px;
}
