/*
 * @description: 選擇題樣板樣式
 * @author: shown (2013-05-27 18:25)
 * @update: shown
 */

table#topic
{
	margin:2% 0;	
	width:98%;	
}
table#choose{margin:2% 0 2% 0;width:100%;	}
table#choose th,table#topic th
{
	width:50px;
	font-size:.8em;	
	white-space: nowrap;
	vertical-align: top;
}
table#choose textarea,table#topic textarea
{
	resize:vertical;
	width:100%;
	height:50px;
}
table#choose td
{
	text-align: left;
	width:86%;
}


