/*
 * @description: 試卷管理首頁樣式
 * @author: shown 
 * @update: shown
 */

ul#childList div.lockState
{
	
	height:60px;
	width:40px;
	float: left;	
	display:block;
	
}
ul#childList div.lock,ul#childList div.unlock
{	
	margin:10px 0;	
	display:block;
	cursor:pointer;
	
	height:30px;
	width:30px;
	background: url(../../../img/icon.png);
	background-repeat: no-repeat;
	background-size: 30px auto;
	
}

ul#childList div.lock:hover
{
	opacity:0.5;
}
ul#childList div.unlock:hover
{
	opacity:0.5;
}
ul#childList div.lock:active
{
	opacity:0.8;
	background-position: 0px -1083px;
}
ul#childList div.unlock:active
{
	opacity:0.8;
	background-position: 0px -1049px;
}
ul#childList div.lock
{
	background-position: 0px -1049px;
}
ul#childList div.unlock
{
	background-position: 0px -1083px;
}
ul#childList div.quiz
{	
		
	
	
}
ul#childList div.quiz div.state
{
	color:#A0A0A0;
	font-family: "微軟正黑體";
	font-size:.6em;
}
ul#childList div.quiz div.state span
{
	margin-right:10px;
}
ul#childList div.quiz div.btn
{	
	font-size:medium;
	margin-top:-5px;	
}
ul#childList div.quiz div.btn span
{
	margin-right:0px;
}
ul#childList div.quiz div.btn span.openBtn
{
	cursor: pointer;
}
div.setLimit
{
	display:block;
	margin-left:40px;
	
	clear:left;
	line-height:3em;
	text-align: right;
}
div.setLimit div
{
	display:inline-block;
	padding-left:10px;
	
}

div.setLimit input
{
	margin:0 3px;
	text-align: right;
}
div.setLimit div span
{
	
}