/*
 * @description: 試卷管理首頁樣式
 * @author: shown
 * @update: shown
 */
div#kmMes
{
	margin:10px 3px;

}
div#kmMes h6
{
	color:#888;
	font-weight: normal;
}
div#kmMes ul,div#kmMes ul li
{
	display:inline-block;
	margin:0;
	padding:0;
	font-family: "微軟正黑體";
}
div#kmMes ul li
{
	margin-right:20px;

}
ul#childList div.quiz
{



}
ul#childList div.quiz div.state
{
	color:#A0A0A0;
	font-family: "微軟正黑體";
	font-size:.6em;
}
ul#childList div.quiz div.state span
{
	margin-right:10px;
}
ul#childList div.quiz div.btn
{
	font-size:medium;
	margin-top:-5px;
}
ul#childList div.quiz div.btn span
{
	margin-right:0px;
}

div.setLimit
{
	display:block;
	margin-left:40px;

	clear:left;
	line-height:3em;
	text-align: right;
}
div.setLimit div
{
	display:inline-block;
	padding-left:10px;

}

div.setLimit input
{
	margin:0 3px;
	text-align: right;
}
div.setLimit div span
{

}